/* VARIABLES */
$lemon: #e4da55;
$celeste: #3ec6e5;
$naranja: #e6b72b;
$gris: #a0a09f;
$medidachica: 5rem;
$medidaSliderh: 25rem;
$medidaSliderw: 20rem;
$colorback: rgb(211, 224, 234);
/* FIN VARIABLES */